.jumbotron {
    background-image: url('./img/letter-word-portfolio.jpg');

    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20vh;
    width: 100%;
}
.container {
    margin-left: 0;
}
h1.display-4, p.lead {
    color: rgb(46 226 43 / 58%);
    max-height: 10vh;
    max-width: 50vw;
}

@media only screen and (max-width: 992px) {
    .jumbotron {
 min-height: 18vh;
    }
  }