.jumbotron {
    background-image: url('./img/letter-word-portfolio.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
}

.header-container {
    color: rgb(73, 226, 43);
    font-weight: bolder;
}